@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    height: 100%;
    overflow: hidden;
  }

  body {
    @apply font-display antialiased;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Toggle Switch Styling */
.toggle-checkbox:checked {
  right: 0;
  border-color: #a413ec;
}
.toggle-checkbox:checked + .toggle-label {
  background-color: #a413ec;
}
